* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--grey1);
}

header {
    position: sticky;
    z-index: 100;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    height: 65px;
    padding: 0 15px;
    box-shadow: 0px 0.1px 10px var(--grey2);
}

.logo {
    color: var(--white);
    background: linear-gradient(to top, #1358b3, var(--blue), #71afff);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 55px;
    text-align: center;
}

.logo:hover {
    cursor: pointer;
}

.header-pfp {
    width: 50px;
    border-radius: 50%;
    margin: 0;
    border: 1px solid var(--grey2);
    box-shadow: 0 0.3px 5px 0.5px var(--grey2);
    cursor: pointer;
}

#dropdownSection {
    position: absolute;
    right: 17px;
    top: 64px;
    width: 225px;
    height: fit-content;
    padding: 8px;
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0 0.3px 2px 0.1px var(--grey2);
}

.logout-section {
    display: flex;
    align-items: center;
    padding: 9px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
    color: var(--grey4);
}

.logout-section:hover {
    background: var(--white-hover);
}

i.fa-solid.fa-door-open {
    font-size: 21px;
    background: var(--grey8);
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
}

.profile-page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--grey1);
}

.profile-section-large {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 9px 9px 0 0;
    margin-top: 75px;
    width: 470px;
    padding: 15px 0;
    border-bottom: 1px solid var(--grey2);
    word-break: break-word;
}

.pfp-large {
    width: 145px;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 17px;
    border: 2px solid var(--grey2);
    box-shadow: 0 0.5px 10px 1px var(--grey2);
}

.profile-name-large {
    font-size: 30px;
    text-align: center;
    margin-right: 17px;
}

.profile-nav-section {
    display: flex;
    align-items: center;
    background: var(--white);
    border-radius: 0 0 9px 9px;
    height: 30px;
    width: 470px;
    color: var(--grey5);
    font-weight: 600;
    font-size: 14px;
    padding: 15px 0;
}

.profile-nav {
    padding: 15px;
    margin: 0 12px;
}

.profile-nav:hover {
    background: var(--white-hover);
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
}





/* POSTS SECTION */
#postsSection {
    width: 470px;
    margin-top: 15px;
    border-radius: 9px;
}

.create-post-section {
    display: flex;
    flex-direction: column;
    width: 470px;
    border-radius: 9px;
    padding: 10px 25px;
    box-sizing: border-box;
    background: var(--white);
}

.profile-section-small {
    display: flex;
    align-items: center;

}

.profile-section-small span {
    font-size: 13px;
    font-weight: 600;
}

.pfp-small {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0.5px 5px 1px var(--grey2);
}

.text-area-section {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#textArea {
    display: flex;
    justify-content: center;
    color: var(--grey4);
    width: 100%;
    border-radius: 10px;
    border: 0;
    background: var(--grey1);
    font-size: 18px;
    padding: 11px 13px;
    line-height: 20px;
    outline: none;
    resize: none;
}

#textArea:hover {
    background: var(--grey1-hover);
}

.publish-btn-section {
    display: flex;
    justify-content: center;
    padding: 7px 0;
}

.publish-btn {
    border: 0;
    width: 90%;
    padding: 4px 0;
    border-radius: 5px;
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.publish-btn:hover {
    background: var(--blue-hover);
    color: var(--white);
}

#publishedPostSection {
    margin-top: 15px;
    background: var(--white);
    padding: 15px;
    border-radius: 9px;
}

.published-post {
    border-radius: 9px;
    border: 1px solid var(--grey2);
    padding: 15px;
    font-size: 17px;
    margin-bottom: 15px;
}

.top-section {
    align-items: center;
    word-break: break-word;
    border-bottom: 1px solid var(--grey2);
    padding-bottom: 5px;
}

.my-published-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
    padding: 0px 5px 3px 5px;
    margin-top: 10px;
}

i.fa-solid.fa-trash-can {
    font-size: 16px;
    color: var(--grey5);
    cursor: pointer;
    margin-left: auto;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.profile-comments {
    background: var(--grey1);
    width: fit-content;
    padding: 10px 15px;
    border-radius: 25px;
    word-break: break-word;
}

.profile-comments span {
    font-weight: 600;
    font-size: 12px;
}

.comment-field {
    outline: 0;
    border: 0;
    background: var(--grey1);
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}





/* ABOUT SECTION */
#aboutSection {
    background: var(--white);
    width: 470px;
    margin-top: 15px;
    border-radius: 9px;
}

#bioBtn {
    text-align: center;
    background: var(--blue);
    color: var(--white);
    border-radius: 5px;
    padding: 8px 0;
    margin: 15px 15px 0px 15px;
    font-weight: 600;
    font-size: 15px;
}

#bioBtn:hover {
    cursor: pointer;
    background: var(--blue-hover)
}

#bioContent {
    text-align: center;
    margin-top: 15px;
}

.bio-text-area {
    width: 64%;
    text-align: center;
    margin-right: 35px;
    line-height: 17px;
    resize: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    color: var(--grey4);
    background: var(--grey1);
    border: 1px solid var(--grey2);
}

.bio-text-area:focus {
    border: 1px solid var(--blue);
    background: var(--white);
    color: var(--grey4);
}

.bio-text-area::placeholder {
    color: var(--grey5);
}

.bio-text-area:hover {
    background: var(--grey1-hover);
}

.bio-text-area:focus::placeholder {
    color: var(--grey6);
}

.bio-text-area:focus:hover {
    background: var(--white-hover);
}

i.fa-sharp.fa-solid.fa-circle-arrow-left {
    position: relative;
    bottom: 40px;
    color: var(--blue);
    font-size: 20px;
    cursor: pointer;
}

i.fa-sharp.fa-solid.fa-circle-arrow-left:hover {
    color: var(--blue-hover);
}

.profile-info-section {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 20px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color: var(--grey5);
}

i {
    font-size: 23px;
    padding: 5px 0;
    margin-right: 10px;
}

i.fa-solid.fa-house {
    margin-right: 13px;
}

i.fa-solid.fa-location-dot {
    margin-left: 3px;
    margin-right: 19px;
}

i.fa-solid.fa-graduation-cap {
    margin-right: 10px;
}

i.fa-solid.fa-briefcase {
    margin-left: 2px;
    margin-right: 15px;
}

span {
    margin-right: 5px;
}

.output-info {
    color: var(--grey4);
    font-weight: 600;
}

.input-info {
    outline: 0;
    border: 1px solid var(--grey2);
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}

.input-info:focus {
    border: 1px solid var(--blue);
}

i.fa-solid.fa-pen {
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
}

i.fa-solid.fa-pen:hover {
    padding-right: 3px;
}